<!doctype html>
<html lang="en" ng-app="fenixApp">
<head>
<title>playing around</title>
<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="angular.js"></script>
</head>
<body ng-controller="mainController">
<div>
<p>msg: <%= msg %></p>
<p>session: <%= JSON.stringify(session) %></p>
<p>recievedTroughSocket: {{recievedTroughSocket}}</p>
<button ng-click="sendWithSocket('hello server')">send something</button>
</div>
</body>
</html>